.cart {
    display: grid;
    grid-template: 2fr 1fr;
    grid-template-areas: 
    "cart-items order-summary";
}

.cart-items{
    grid-area: cart-items;
}

.order-summary {
    grid-area: order-summary;
}

