.cart {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-areas: "cart-items order-summary";
}

.cart-items {
  grid-area: cart-items;
}

.order-summary {
  grid-area: order-summary;
}

.empty-cart-message {
    padding-top: 36px;
}
