.menu-item{
    display: grid;
    grid-template-areas:
    "image"
    "name"
    "price"
    "button"
     ;
    padding: 12px;
    align-items: center;
    width: 240px;
    margin: 18px 12px;
    border-radius: 3px;
    justify-self: center;
}

.menu-item__image {
    grid-area: image;
    max-width: 150px;
    border-radius: 3px;
}

.menu-item__name {
    grid-area: name;
    align-self: flex-start;
}

.menu-item__price {
    grid-area: price;
}

.menu-item__button {
    grid-area: button;
    justify-self: flex-start;
    padding: 4px 12px;
}
